.navbar-mobile {
  &-wrap {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    & > img {
      width: 100px;
      object-fit: contain;
    }
    & .open-menu {
      & > ion-icon {
        font-size: 3rem;
        font-weight: 600;
        cursor: pointer;
        &:active {
          color: $green;
          opacity: 0.8;
        }
      }
    }
  }

  & .list-menu-mobile {
    display: none;

    width: 100%;
    opacity: 0.9;
    height: 100%;
    background-color: $black;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 111;

    & > .list-menu-mobile_wrap {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      & > ion-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 5rem;
        cursor: pointer;
        color: $green;
        &:active {
          opacity: 0.8;
          color: $white;
        }
      }
      & > img {
        width: 200px;
      }
      & .menu-item-mobile {
        margin-top: 30px;
        font-size: 3rem;
        font-weight: 500;
        cursor: pointer;
        & .menu-link-mobile {
          color: $white;
          &:active {
            opacity: 0.8;
            color: $green;
          }
        }
      }
    }
  }
}
.show {
  animation: showMenuMobile 0.4s ease-in-out;
  -webkit-animation: showMenuMobile 0.4s ease-in-out;
}
