.section-employer {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
  & .employer-item {
    height: 450px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 80px 10px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.14s linear;
      -webkit-transition: all 0.14s linear;
      -moz-transition: all 0.14s linear;
      -ms-transition: all 0.14s linear;
      -o-transition: all 0.14s linear;

      &:hover {
        margin-left: 4px;
      }
    }
  }
}

// - small tablet - tablet - tablet pro
@media only screen and (min-width: 600px) and (max-width: 1240px) {
  .section-employer {
    width: 85%;
    margin: 0 auto;
    & .employer-item {
      max-height: 400px;
      &-img {
        width: 45%;
      }
      & img {
        max-width: 300px;
        object-fit: cover;
        &:hover {
          margin-left: 0;
        }
      }
    }
    & .employer-info {
      width: 80%;
      height: auto;
      padding: 20px 15px;

      & .info-title {
        font-size: 1rem;
        letter-spacing: 0.7px;
        line-height: 0;
      }
      & .info-job {
        font-size: 1rem;
        margin-top: 10px;
        -webkit-line-clamp: 2;
        line-height: 15px;
      }
      & .info-btn {
        font-size: 1rem;
        margin-top: 10px;
      }
    }
  }
}
